.user-detils {
  display: none;
}
.user-detils p:hover {
  color: aliceblue;
}
.userIon {
  position: relative;
  cursor: pointer;

  color: #333;
}

.userIon:hover .user-detils {
  display: block;

  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
